<h1>Get ready for a game!</h1>
<h2>Register your name to play</h2>
<form action="/name" method="post">
  <label for="user_name">
    User name
    <input type="text" name="user_name">
  </label>
  <input type="submit" value="submit">
</form>